#################################
# ENV VARIABLES
#################################

.env
.env.*
*.env

#################################
# PYTHON
#################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

#################################
# VIRTUAL ENVIRONMENTS
#################################

venv/
.venv/
ENV/

#################################
# CELERY
#################################

celerybeat-schedule
celerybeat.pid

#################################
# DATABASE
#################################

*.db
*.sqlite

#################################
# TEST / CACHE
#################################

.pytest_cache/
.mypy_cache/

#################################
# IDE
#################################

.vscode/
.idea/

#################################
# OS
#################################

.DS_Store
Thumbs.db